<br/>
<br/>
<br/>
<div class = "container" id ="docipedia_list">
 <%= alerts %>
<table border="3" id = "docipedia_table">

<tr id = "table_heading_row">
	<td><p><b>RESOURCE ACCESS LINK</b></p></td>
	<td><p><b>RESOURCE OWNED BY</b></p></td>

</tr>
<%if @targets.present? %>
<% @targets.each do |document| %>

<tr>
	<td><%=link_to "View Resource", document.doc.url %></td>

	<td><%= document.name %> target</td>
	
</tr>
<%= alerts %> 
<% end %> 
<%end%>
</table>
<br/>
<br/>
<br/>
<br/>
<%if @targets.present? %>
<%= paginate @targets, :container => false %>
<%end%>
<br/>
<br/>
<br/>
<br/>
<%= link_to "HOME", home_path, class: 'btn btn-outline-primary' %>
</div>
