<%= form_with(model: quiz, local: true) do |form| %>
  
<br/>
<br/>
<b><p>GENERAL INFORMATION:</p></b>
<table>

  <div class="field">
    <tr>
    <td>
<b><%= form.label :name %></b></td>
    <td><%= form.text_field :name, placeholder:"Enter assignment name",  :size => 50, :max => 100 %></td>
  </tr>
  </div>

  <br/>

  <div class="field">
    <tr>
    <td>
<b><%= form.label :result %></b></td>
    <td><%= form.number_field :result, placeholder:"Set pass percentage", :size => 50 %></td>
  </tr>
  </div>

<br/>

<div class="field">
    <tr>
    <td><b><%= form.label :time %></b></td>
    <td><%= form.number_field :time, placeholder:"Set quiz timer(minutes)", :size => 50 %></td>
  </tr>
  </div>

  <div class="field">
    <tr>
    <td>
<b><%= form.label :schedule %></b></td>
    <td><%= form.date_field :schedule, :size => 50 %></td>
  </tr>
  </div>

  </table>
  
<br/>
  <div class="actions">
   <%= form.submit 'PUBLISH', class: 'btn btn-success btn-block' %>
  </div>
<% end %>
