
<div class="nested-fields">
          <div class="form-group">

                <div>
                  <%= link_to_remove_association 'Remove Task', f, class: 'btn btn-outline-danger' %>
                </div>

                <br/>

                <div>
                  <%= f.text_field :name, placeholder:"Task Name...", class: 'form-control' %>
                </div>

                 <br/>

                <div class="form-group">
                   <%= f.number_field :point, placeholder:"Add points on a scale of 10.",  class: 'form-control'%>
                </div>

                <br/>


                <div class="form-group">
                   <%= f.number_field :progress, placeholder:"Add completion %.", class: 'form-control'%>
                </div>

                <br/>

                <div class="form-group">
                  
                 <b> <%= f.date_select :dateofcompletion%></b>
                </div>
               
               
             </div>
         </div>