
<div class="container"id ="target_details">
	<br/>
	<br/>
<table>
	<tr>
<td><p id="link_for_creating_new_target"><%= link_to 'CREATE PERSONAL TARGET', new_target_path, class: 'btn btn-outline-success' %></p></td>
<td><p id="link_for_creating_new_target"><%= link_to 'CREATE GROUP TARGET', groupnew_path, class: 'btn btn-outline-warning' %></p></td>
<td><p id="link_for_creating_new_target"><%= link_to 'MY GROUP TARGETS', groupindex_path, class: 'btn btn-outline-info' %></p></td>
</tr>
</table>
<br/>
<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal">
  PERSONAL STALE TASKS
</button>
<div class="modal fade .modal-dialog-scrollable" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel" style="color:black">PERSONAL STALE TASKS:</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <% if @jj.present? %>
        <% @jj.each do |hm, nm| %>
        <% k = Target.find(hm) %>

            <div class="alert alert-danger" role="alert" id ="stale_task_alert">
                   
                   <b>TARGET NAME :</b><%= k.name %>
                   <br/>
                   <b>TASK NAME :</b><%= nm %>
                   <hr>
                   <b>ACCESS LINK :</b><a href="<%= target_path(k) %>">Click Here</a>
                   </div>
                  <br/>
<%end%>
<%else%>
<p>NO DATA TO DISPLAY.</p>
<%end%>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<br/>
<hr id = "target_type_heading">
<h4>MY PERSONAL TARGETS</h4>
<hr id = "target_type_heading">
<br/>
<%if @personal_targets.present? %>

<% @personal_targets.each do |personal_target| %>
<% if personal_target.lead.blank? %>
<% fff = personal_target.tasks.count %>

              <% ggg = personal_target.tasks.sum(:progress) %>

              <% if ((fff*100) != ggg) %>
<table class="table table-hover" id ="t_table">
    <tr id="target_index_row" id = "t_table_r">
      <td id="target_h"><h4 style="color:black"><%= personal_target.name %></h4></td>
      <td id="target_options"><%= link_to 'Review/', personal_target %>
          <%= link_to 'Edit/', edit_target_path(personal_target) %>
          <%= link_to 'Delete', personal_target, method: :delete, data: { confirm: 'Are you sure?'} %></td>
          
    </tr>
    <%end%>
    <%end%>
    <%end%>
    <%end%>
</table>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<hr id = "target_type_heading">
<h4><svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="green" class="bi bi-easel-fill" viewBox="0 1 18 16">
  <path d="M8.473.337a.5.5 0 0 0-.946 0L6.954 2H2a1 1 0 0 0-1 1v7a1 1 0 0 0 1 1h1.85l-1.323 3.837a.5.5 0 1 0 .946.326L4.908 11H7.5v2.5a.5.5 0 0 0 1 0V11h2.592l1.435 4.163a.5.5 0 0 0 .946-.326L12.15 11H14a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1H9.046L8.473.337z"/>
</svg> COMPLETED PERSONAL TARGETS</h4>
<hr id = "target_type_heading">
<br/>
<p>
        
        <% @completed_targets.each do |personal_ttt| %>
              <% if personal_ttt.lead.blank? %> 
              <% ff = personal_ttt.tasks.count %>

              <% gg = personal_ttt.tasks.sum(:progress) %>

              <% if ((ff*100) == gg) %>
            

              <table class="table table-hover" id ="t_table_t">
    <tr id="target_index_row" id = "t_table_rr">
      <td id="target_hhh"><h4 style="color:black"><%= personal_ttt.name %></h4></td>
      <td id="target_options"><%= link_to 'Review', personal_ttt %></td>
          
    </tr>
</table>
             

              <%end%>

                 <%end%>
              
                
  

       <% end %>

</p>
<br/>
</div>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>







































