<br/>
<br/>
<div class="container">
 <%= alerts %>
<p><b>GENERAL INFORMATION:</b></p>

<br/>

<table class= "table table-striped" >
	<tr>

  <td><strong>Target Type:</strong></td>
  <% if @target.lead.present? %>
  <td><p style="color:navy"><b>GROUP</b></p></td>
  <%else%>
   <td><p style="color:navy"><b>PERSONAL</b></p></td>
   <%end%>
</tr>
	<tr>

  <td><strong>Name:</strong></td>
  <td><%= @target.name %></td>
</tr>

<tr>
  <td><strong>Description:</strong></td>
  <td><%= @target.description %></td>
</tr>

<tr>
  <td><strong>Start Date:</strong></td>
  <td><%= @target.begin.strftime("%d-%b-%Y") %></td>
</tr>

<tr>
  <td><strong>End Date:</strong></td>
  <td><%= @target.end.strftime("%d-%b-%Y") %></td>
</tr>

    <% if @target.doc.present? %>

	<tr><td><strong>Document:</strong></td>
	<td><%= link_to("Access Attached Document", @target.doc.url) %></td></tr>

	<% else %>
	<tr><td><strong>Document:</strong></td>
    <td><b><p style="color:navy">NO RESOURCE ATTACHED</p></b></td></tr>
    <% end %>

    
</table>
<br/>
<hr id = "group_target_hr">
<br/>

<% if @target.lead.present? %>
<p><b>GROUP MEMBERS</b></p>
<br/>
<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Name</th>
    </tr>
  </thead>
  <tbody>
  	<% @target.member.each do |mem|%>
  	<% p = mem.to_i %>
  	<% m = @target.lead.to_i %>
    <tr>
    	<% if User.find(p) == User.find(m) %>
      <td id = "lead_color"><%= User.find(p).name %></td>
      <%else%>
      <td id = "member_color"><%= User.find(p).name %></td>
      <%end%>
    </tr>
    <%end%>
    
   </tbody>
</table>
<br/>
<hr id = "group_target_hr">
<%end%>
<br/>
<p><b>RELATED TASKS:</b></p>
<br/>
<div class="alert alert-success" role="alert" id = "tar_show">TOTAL TASKS: <%= @target.tasks.count %></div>
<br/>
<div class="alert alert-info" role="alert" id = "tar_show">EARLY STAGES: <%= @v %></div>
<br/>
<div class="alert alert-success" role="alert" id = "tar_show">FINAL STAGES: <%= @n %></div>
<br/>
<div class="alert alert-info" role="alert" id = "tar_show">YET TO BE COMPLETED: <%= @x %>/<%= @g %></div>
<br/>
<br/>
<br/>
<center>
<table class="table table-hover" id ="target_detailed_info" border="1">
	<thead>
		<td id ="col1"><b>TASK NAME</b></td></b>
		<td id ="col99"><b>OWNED BY</b></td></b>
		<td id ="col2"><b>DEADLINE</b></td>
		<td id ="col3"><b>VALUE</b></td>
		<td id ="col3"><b>STATUS</b></td>
	
	</thead>
	
	<% @target.tasks.each do |t| %>
    <% j = t.owner.to_i %>

	<tbody>
		<td id ="col1"><%= t.name %></td>
		<td id ="col2"><%= User.find(j).name %></td>
		<td id ="col2"><%= t.dateofcompletion.strftime("%d-%m-%Y") %></td>
		<% if t.point.between?(1,3)%>
		<td id ="col3"><svg width="3em" height="2em" viewBox="0 0 16 16" class="bi bi-chevron-up" fill="purple" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z"/>
        </svg></td>
		<% elsif t.point.between?(4,6)%>
		<td id ="col3"><svg width="3em" height="2em" viewBox="0 0 16 16" class="bi bi-chevron-double-up" fill="purple" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M7.646 2.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 3.707 2.354 9.354a.5.5 0 1 1-.708-.708l6-6z"/>
        <path fill-rule="evenodd" d="M7.646 6.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 7.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z"/>
        </svg></td>
		<% elsif t.point.between?(7,10)%>
		<td id ="col3"><svg width="3em" height="2em" viewBox="0 0 16 16" class="bi bi-brightness-high-fill" fill="orange" xmlns="http://www.w3.org/2000/svg">
        <path d="M12 8a4 4 0 1 1-8 0 4 4 0 0 1 8 0z"/>
        <path fill-rule="evenodd" d="M8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0zm0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13zm8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zM3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8zm10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0zm-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707zM4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708z"/>
        </svg></td>
		<%end %>
		<% if t.progress.between?(25,49)%>
		<td id ="col6"><%= t.progress %></td>
		<% elsif t.progress.between?(50,74)%>
		<td id ="col7"><%= t.progress %></td>
		<% elsif t.progress.between?(75,100) %>
		<td id ="col8"><%= t.progress %></td>
		<%else%>
		<td id ="col9"><%= t.progress %></td>
		<%end%>
	</tbody>
	<% end %>
</table>
<br/>
<hr id = "group_target_hr">
<br/>
</center>
<br/>
<br/>
<%= link_to 'EDIT', edit_target_path(@target), class: 'btn btn-outline-primary' %> 
<%= link_to 'BACK', targets_path, class: 'btn btn-outline-primary' %>
<%= link_to 'HOME', home_path, class: 'btn btn-outline-primary' %>

</div>
