<br/>
<br/>
<center>
<h2 style="color:navy">UPDATE ACCOUNT</h2>
</center>
<br/>
<br/>
 <div class = "container">

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
<%= render "devise/shared/error_messages", resource: resource %>
 
  <center>
  <table>
  <tr>
  <div class="field">
   <td> <b style="color:purple"><%= f.label :name %></b></td>
    <td><%= f.text_field :name %></td>
  </div>
</tr>

<tr>
  <div class="field">
   <td><b style="color:purple"><%= f.label :email %></b></td>
    <td><%= f.email_field :email, autofocus: true%></td>
  </div>
</tr>

<tr>
  <div class="field">
   <td><b style="color:purple"><%= f.label :roles %></b></td>
    <td><%= f.email_field :roles, autofocus: true, :disabled => true %></td>
  </div>
</tr>


  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

<tr>
  <div class="field">
   <td><b style="color:purple"><%= f.label :password %></b>(Leave blank if you don't want to change it.)</td>
   <td> <%= f.password_field :password, autocomplete: "new-password" %></td>
    <% if @minimum_password_length %>
    <% end %>
  </div>
</tr>


 <tr>
  <div class="field">
   <td><b style="color:purple"><%= f.label :password_confirmation %></b><br/></td>
    <td><%= f.password_field :password_confirmation, autocomplete: "new-password" %></td>
  </div>
</tr>

<tr>
  <div class="field">
   <td><b style="color:purple"><%= f.label :current_password %></b>(We need your current password to confirm your changes.)</td>
   <td> <%= f.password_field :current_password, autocomplete: "current-password" %></td>
  </div>
</tr>

<tr>
  <div class="field">
   <td><b style="color:purple"><%= f.label :subscribe %></b>(Save as "YES", to subscribe Mirror Journal)</td>
   <td> <%= f.password_field :subscribe %></td>
  </div>
</tr>
</center>
</table>
<br/>
<br/>
<br/>
<center>
  <div class="actions">
    <%= f.submit "UPDATE MY CREDENTIALS", class: 'btn btn-info' %>
  </div>
<% end %>
</center>
<br/>
<hr>

<h2 style="color:red">DELETE MY ACCOUNT</h2>
<br/>
<br/>
<p><%= button_to "DELETE", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'btn btn-danger' %></p>
<br/>
<%= link_to 'HOME', home_path, class: 'btn btn-outline-primary' %>
<%= link_to 'CONTACT SUPPORT', conversations_path, class: 'btn btn-outline-primary' %>
<br/>
<br/>
(*To contact support, select "<b>Tejinder Kalsi</b>" as the receipent.)
<br/>
</div>
<br/>
<br/>
<br/>
<%= render "shared/footer" %>























