<br/>
<br/>

<%= alerts %>

<div class = "conatiner" id = "itenarycontainer">
<div class="alert alert-success" role="alert" id = "itenarylist">
  <h4>ITINERARY</h4>
</div>

<br/>

<button type="button" class="btn btn-light btn-sm"><%= link_to 'New Itinerary', new_itenary_path %></button>

<button type="button" class="btn btn-light btn-sm" data-toggle="modal" data-target="#exampleModal">
 <b>ARCHIVED ITINERARIES</b>
</button>
<div class="modal fade .modal-dialog-scrollable" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel" style="color:black">ARCHIVED ITINERARIES</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      <% @ar_itenaries.each do |itenary| %>
      <% g = itenary.related %>
      <% v = Estimate.find(g) %>
      <% b = v.user_id %>
      <% if b == current_user.id %>

      
          <div class="card" id = "archived">
               <div class="card-body" id = "ar_b"> 
                    <b>NAME:</b>  <%= itenary.planname %>
                    <br/>
                    <% z = itenary.related %>
                    <% c = z.to_i %>
                    <b>BELONGS TO: </b> <%= Estimate.find(c).name %> 
                    <br/>
                    <br/>
                    <b>ACCESS:</b> <%= link_to 'Click Here', itenary %>

               </div>
          </div>
<%end%>
      <%end%>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<br/>
<br/>
<table>
  <thead>
    <tr>
      <th><div id = "itenarystart">
  <h5>STARTS</h5>
</div></th>
            <th><div id = "itenaryname">
  <h5>NAME</h5>
</div></th>

      <th><div id = "itenaryaction">
  <h5>ACTION</h5>
</div></th>
   
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @itenaries.each do |itenary| %>
    <% g = itenary.related %>
    <% v = Estimate.find(g) %>
    <% b = v.user_id %>
    <% if b == current_user.id %>
      <tr>
        <td><%= itenary.start.to_s(:rfc822) %></td>
        <td><b><%= itenary.planname %></b></td>
     
        <td><%= link_to 'Preview', itenary %> /
        <%= link_to 'Edit', edit_itenary_path(itenary) %> /
        <%= link_to 'X', itenary, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    <%end%>
  </tbody>
</table>

<br>


</div>
