
<%= alerts %>
<br/>
<br/>
<div class ="container" id= "scont">


  <div class = row>

<div class = "col-md-7">
<div class="alert alert-success" role="alert" id = "show_itenary_heading">
  <b>ITINERARY : <%= @itenary.planname %></b>
</div>
<br/>
<br/>
  <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
    <div class="col">
      <div class="p-3 border bg-light">ACTIVITIES: <%= @itenary.subitenaries.count(:activity) %></div>
    </div>
    <div class="col">
      <div class="p-3 border bg-light">TOTAL STAY: <%= @itenary.subitenaries.sum(:stay) %></div>
    </div>
    <div class="col">
      <% result = 0 %>
      <% q = @itenary.related.to_i %>
      <% v =  Estimate.find(q) %>
      <% v.tours.each do |yy| %>

      <% g = yy.multiplier %>
      <% f = yy.namec %>
      <% r = (f*g) %>

      <% result = result + r %>

      <%end%>
      <div class="p-3 border bg-light">BUDGET: <%= result%> </div>
    </div>
    <div class="col">
      <div class="p-3 border bg-light"><center><%= link_to "PRINT", itenary_path(@itenary, format: "pdf") %></center></div>
    </div>

</div>
<br/>
<br/>
<p>
  <strong>Starts On:</strong>
  <%= @itenary.start.to_s(:rfc822) %>
</p>
<p>
  <strong>Name:</strong>
  <%= @itenary.planname %>
</p>
<br/>
<br/>
<table class="table">
  <thead>
    <tr>
      <th scope="col">DATE</th>
      <th scope="col">LOCATION</th>
      <th scope="col">MODE OF TRAVEL</th>
      <th scope="col">PLANNED ACTIVITY</th>
      <th scope="col">STAY</th>
    </tr>
  </thead>
  <% @itenary.subitenaries.each do |t| %>
  <tbody>
    <tr>
      
      <td><i class="fa fa-calendar" aria-hidden="true"></i> <%= t.begin.to_s(:rfc822) %></td>
      <td><i class="fa fa-street-view"></i> <%= t.location.upcase %></td>
      <% if t.modeoftravel == "AIR" %>
      <td><i class="fa fa-plane"></i> <%= t.modeoftravel %></td>
      <%end%>
      <% if t.modeoftravel == "TRAIN" %>
      <td><i class="fa fa-train" aria-hidden="true"></i> <%= t.modeoftravel %></td>
      <%end%>
      <% if t.modeoftravel == "ROAD" %>
      <td><i class="fa fa-car" aria-hidden="true"></i> <%= t.modeoftravel %></td>
      <%end%>
      <td><%= t.activity %></td> 
      <td><i class="fa fa-hotel"></i> <%= t.stay %></td>
       
    </tr>
  </tbody>
  <%end%>
</table>
<br/>
<br/>
<%= link_to 'BACK', itenaries_path, class: "btn btn-sm btn-outline-primary" %>
<%= link_to 'EDIT', edit_itenary_path(@itenary), class: "btn btn-sm btn-outline-primary" %> 


</div>


<br/>
<br/>
<br/>
<% results = Geocoder.search([@itenary.latitude, @itenary.longitude]) %>

<div class = "col-md-3">
<p><i class="fa fa-map-marker" aria-hidden="true"></i> <b>STARTING LOCATION:</b> <%= results.first.address %> </p>
<hr>
<% @itenary.subitenaries.each do |tm| %>

<i class="fa fa-calendar" aria-hidden="true"></i> <%= tm.begin.to_s(:rfc822) %>, <%= tm.location %>
<br/>
<% if tm.id <= @itenary.subitenaries.count %>
<i class="fa fa-arrow-down" aria-hidden="true"></i>
<br/>
<%end%>
<%end%>
</div>

</div>

</div>


</div>