<div class = "container" id = "my_emails">
	<br/>
	<br/>
<h4><b>MY CONVERSATIONS</b></h4>
<br/>
<br/>

<% @conversations.each do |conversation| %>

	
      
    

	<p><b>Sent Date:</b> <%= conversation.created_at %>
	 
		<%= link_to conversation.subject, conversation_path(conversation), class: 'btn btn-secondary btn-block' %></p>

    
<% end %>
<br/>
<br/>
<br/>
<br/>
<%= paginate @conversations, :container => false %>
<br/>
<hr>
<br/>
<br/>
<br/>
<%= alerts %> 
<%= link_to "CREATE EMAIL", new_conversation_path, class: 'btn btn-outline-success btn-block'%>
<br/>
<br/>
<br/>
<%= link_to "HOME", home_path, class: 'btn btn-outline-primary' %>
</div>