   <div class="<%= color %>"> <!-- Local Variable -->
    <nav class="navbar navbar-expand-lg">
             
            <%= link_to "HOME", home_path %>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="/targets">TARGETS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/years">EXPENSES</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/stories">STORIES</a>
            </li>
                   <li class="nav-item">
              <a class="nav-link" href="/docipedias">DOCIPEDIA</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/communities">COMMUNITY</a>
            </li>
            
         
          </ul>
        </div>
        <%= gravatar_helper current_user %>

        <div class="nav-item dropdown">

          <% if current_user %>

            
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">ME</a>
    
                <div class="dropdown-menu">
                
                  <p><p id ="udet"><b>NAME:</b></p><p id ="udett"><%= current_user.name%></p></p>
                  <hr>
                  <p><p id ="udet"><b>EMAIL:</b></p><p id ="udett"><%= current_user.email%></p></p>
                  <hr>
                  <p><p id ="udet"><b>JOINED ON:</b></p><p id ="udett"><%= current_user.created_at.strftime("%d-%m-%Y")%></p></p>
                  <hr>
                  <p><p id ="udet"><b>UPDATE PROFILE</b></p><p id ="udett"><%= link_to "Update", edit_user_registration_path%></p></p>
              
                  
                  
                 
                </div>
         <% end %>
        </div>
        <div class ="nav-item">

           <%=link_to "ADMINISTRATOR", rails_admin.dashboard_path if logged_in?(:site_admin)%>

           <%=link_to "LOGOUT", destroy_user_session_path, method: :delete %>
        </div>

      </div>
    </nav>  
  </div>
 