




  <div id = "bucket_list_main_img">
    

<div class="container" id = "headingcontainer">
<img src= "<%= @u.headingimg.url %>", alt="To set the image, navigate to Account Settings >> Custom." width="100%" height="auto">
<div class="bottom-left"><%= current_user.heading %></div>
 
</div>
  </div>
<br/>
  

    <div class=".container-fluid" id = "listcon">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-3">
        <% @bucket_list.each do |mylist| %>

     

        <div class="col">
          <div class="card shadow-sm">
      
             <% if mylist.img.present? %>
            <%= image_tag mylist.img.url %>
            <%end%>
         


            <div class="card-body">
             <center> <b> <i class="fa fa-globe" aria-hidden="true"></i> <%= mylist.country.upcase %></b>, 
              #<%= mylist.schedule.strftime("%d-%B-%Y") %></center>
              <br/>
              <p class="card-text"><i class="fa fa-info" aria-hidden="true"></i> <%= mylist.description %></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                </div>
                <small class="text-muted"><B>ADDED:</B> <%= mylist.created_at.strftime("%d-%B-%y") %></small>
                


              </div>
          
            <hr>
<%= link_to "VIEW TOP DESTINATIONS", destinations_path(:m => mylist.id), class: "btn btn-sm btn-outline-info" %>
<%= link_to 'REMOVE', visit_url(mylist), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-outline-danger' %>
        
  </div>
          </div>
       <br/>
        </div>

        <%end%>

      </div>

      
 
      <hr>

    </div>
 



   

