  <%def multiply(qqw) %>
   <%$result = 0 %>
<%  qqw.tours.each do |ju|%>
   
<%   v = (ju.namec * ju.multiplier)%>
  <% $result = ($result + v)%>
  <%end%>
  <%return $result%>
 <%end%>





<% @quizzes.each do |quiz| %>
     
     <% quiz.students.each do |studentt| %>
       
        

         <% v = studentt.to_i %>
         <% if ((v == current_user.id) && (Date.today == quiz.schedule)) %>
        
         <div class="alert alert-warning" role="alert" id = "assignment_warning">
        
          You have an assignment to complete. <b>Assignment Name:</b> <%= quiz.name %>. <a href="<%=quizzes_path %>"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="navy" class="bi bi-arrow-right-circle-fill" viewBox="0 2 18 14">
  <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-11.5.5a.5.5 0 0 1 0-1h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5z"/>
</svg></a>
         </div>
      
       <%end%> 
       <%end%>
      <%end%>

<br/>
<p id ="quick_launch_icons"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-envelope-open-fill" fill="orange" xmlns="http://www.w3.org/2000/svg">
  <path d="M8.941.435a2 2 0 0 0-1.882 0l-6 3.2A2 2 0 0 0 0 5.4v.313l6.709 3.933L8 8.928l1.291.717L16 5.715V5.4a2 2 0 0 0-1.059-1.765l-6-3.2zM16 6.873l-5.693 3.337L16 13.372v-6.5zm-.059 7.611L8 10.072.059 14.484A2 2 0 0 0 2 16h12a2 2 0 0 0 1.941-1.516zM0 13.373l5.693-3.163L0 6.873v6.5z"/>
</svg><%= link_to " INBOX", conversations_path %> |

<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-hand-thumbs-up" fill="green" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M6.956 1.745C7.021.81 7.908.087 8.864.325l.261.066c.463.116.874.456 1.012.965.22.816.533 2.511.062 4.51a9.84 9.84 0 0 1 .443-.051c.713-.065 1.669-.072 2.516.21.518.173.994.681 1.2 1.273.184.532.16 1.162-.234 1.733.058.119.103.242.138.363.077.27.113.567.113.856 0 .289-.036.586-.113.856-.039.135-.09.273-.16.404.169.387.107.819-.003 1.148a3.163 3.163 0 0 1-.488.901c.054.152.076.312.076.465 0 .305-.089.625-.253.912C13.1 15.522 12.437 16 11.5 16v-1c.563 0 .901-.272 1.066-.56a.865.865 0 0 0 .121-.416c0-.12-.035-.165-.04-.17l-.354-.354.353-.354c.202-.201.407-.511.505-.804.104-.312.043-.441-.005-.488l-.353-.354.353-.354c.043-.042.105-.14.154-.315.048-.167.075-.37.075-.581 0-.211-.027-.414-.075-.581-.05-.174-.111-.273-.154-.315L12.793 9l.353-.354c.353-.352.373-.713.267-1.02-.122-.35-.396-.593-.571-.652-.653-.217-1.447-.224-2.11-.164a8.907 8.907 0 0 0-1.094.171l-.014.003-.003.001a.5.5 0 0 1-.595-.643 8.34 8.34 0 0 0 .145-4.726c-.03-.111-.128-.215-.288-.255l-.262-.065c-.306-.077-.642.156-.667.518-.075 1.082-.239 2.15-.482 2.85-.174.502-.603 1.268-1.238 1.977-.637.712-1.519 1.41-2.614 1.708-.394.108-.62.396-.62.65v4.002c0 .26.22.515.553.55 1.293.137 1.936.53 2.491.868l.04.025c.27.164.495.296.776.393.277.095.63.163 1.14.163h3.5v1H8c-.605 0-1.07-.081-1.466-.218a4.82 4.82 0 0 1-.97-.484l-.048-.03c-.504-.307-.999-.609-2.068-.722C2.682 14.464 2 13.846 2 13V9c0-.85.685-1.432 1.357-1.615.849-.232 1.574-.787 2.132-1.41.56-.627.914-1.28 1.039-1.639.199-.575.356-1.539.428-2.59z"/>
</svg><%= link_to " FEEDBACK", new_feedback_path %> |


<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-patch-question-fll" fill="navy" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M5.933.87a2.89 2.89 0 0 1 4.134 0l.622.638.89-.011a2.89 2.89 0 0 1 2.924 2.924l-.01.89.636.622a2.89 2.89 0 0 1 0 4.134l-.637.622.011.89a2.89 2.89 0 0 1-2.924 2.924l-.89-.01-.622.636a2.89 2.89 0 0 1-4.134 0l-.622-.637-.89.011a2.89 2.89 0 0 1-2.924-2.924l.01-.89-.636-.622a2.89 2.89 0 0 1 0-4.134l.637-.622-.011-.89a2.89 2.89 0 0 1 2.924-2.924l.89.01.622-.636zM7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm1.602-2.027c-.05.386-.218.627-.554.627-.377 0-.585-.317-.585-.745v-.11c0-.727.307-1.208.926-1.641.614-.44.822-.762.822-1.325 0-.638-.42-1.084-1.03-1.084-.55 0-.916.323-1.074.914-.109.364-.292.51-.564.51C6.203 6.12 6 5.873 6 5.48c0-.251.045-.468.139-.69.307-.798 1.079-1.29 2.099-1.29 1.341 0 2.262.902 2.262 2.227 0 .896-.376 1.511-1.05 1.986-.648.445-.806.726-.846 1.26z"/>
</svg><%= link_to " ASSIGNMENTS", quizzes_path %> |

<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-book" fill="navy" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M1 2.828v9.923c.918-.35 2.107-.692 3.287-.81 1.094-.111 2.278-.039 3.213.492V2.687c-.654-.689-1.782-.886-3.112-.752-1.234.124-2.503.523-3.388.893zm7.5-.141v9.746c.935-.53 2.12-.603 3.213-.493 1.18.12 2.37.461 3.287.811V2.828c-.885-.37-2.154-.769-3.388-.893-1.33-.134-2.458.063-3.112.752zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z"/>
</svg><%= link_to " JOURNAL", researches_path %> |

<button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#staticBackdrop">
 REVIEWS
</button> 

<% @itenaries.each do |iten| %>
     
    <% g = iten.related %>
    <% v = Estimate.find(g) %>
    <% b = v.user_id %>
   
    <% if b == current_user.id  && iten.calender == "YES" %>

         <% z = (iten.start - Date.today).to_i %>


       
            <% if z.between?(8,10) %>
                  <button type="button" class="btn btn-success btn-sm">
                  Upcomming trip !!! <span class="badge bg-secondary"><%= iten.start.to_s(:rfc822)%></span> <%= link_to 'ACCESS', itenary_path(iten) %>
                  </button>
            <%end%>

            <% if z.between?(4,7) %>
                  <button type="button" class="btn btn-warning btn-sm">
                  Upcomming trip !!! <span class="badge bg-secondary"><%= iten.start.to_s(:rfc822)%></span> <%= link_to 'ACCESS', itenary_path(iten) %>
                  </button>
            <%end%>

            <% if z.between?(1,3) %>
                  <button type="button" class="btn btn-danger btn-sm">
                  Upcomming trip !!! <span class="badge bg-secondary"><%= iten.start.to_s(:rfc822)%></span> <%= link_to 'ACCESS', itenary_path(iten) %>
                  </button>
            <%end%>
   <%end%>

<%end%> 
      





</p>

<div class = "container">
<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">PROVIDE REMARKS</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <% @years.each do |y| %>

           <% if y.estimates.present? %>
            
                 <% m = y.estimates %>

                      <% m.each do |p| %>

            
                       <% if p.share.present? %>

                       <% k = p.share %>
            
                       <% n = k.to_i %>

                       <%if n == current_user.id  %>

                       <%if p.Recommendation.nil? %>

                       
               



               <div class="alert alert-info" role="alert">
                             <b><%= p.name %></b> 
                      
                             <a href="<%= estimate_path(p) %>" id ="est_link_a">ACCESS</a>
                </div>
                            
                    
                       <%end%>

   
                      <%end%>
                      <%end%>
                      
            <%end%>

            
          


    
           <%end%>






        <%end%>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

</p>

<br/>
<br/>
<div class = "container" id="testing" >
    <div class = "row">

       <div class = "col-md-7" id = "notification_panel">

            <%if @c.present? %>
            <% @c.each do |x,y| %>
            <div class="card" style= "width: 14rem;" id ="notification" >
            <div class="card-body" >
            <h6 class="card-title" style="color: blue;">COMPLETE SOON</h6>
            <% g = Target.find(x) %>
            <hr id = "notification_card_hr_line">
            <b><p id = "notification_card_text">You have pending task in the following target. If not updated within 3 days, it will be marked as stale task.</p></b>
            <hr id = "notification_card_hr_line">
            <p id = "notification_card"style="color: black;"><b>TARGET NAME:</b> <%= g.name %></p>
            <p id = "notification_card"style="color: black;"><b>TASK NAME:</b><%= y %></p>
            <hr id = "notification_card_hr_line">
            <p class="card-text"></p>
            <a href="<%= target_path(g) %>">Access Target</a>
            
            </div>
            </div>
            <%end%>
            <%end%>

     </div>


<div class = "col-md-5" id = "feed_col">
<div class="vl">
<div class="jumbotron jumbotron-fluid mw-100" id="news_jumbotron">
  <div class="container" id = "news_jumbo_con">
    <h3 class="display-6", style="color:green">MIRROR NEWS</h3>
    <h6>LAST UPDATED: <%= @word.updated_at.strftime("%d-%b-%Y") %></h6>
    <hr>
    <p>
  <h4 style="color:navy"><b><%= @word.wordtitle %></b></h4>
</p>

<p>
  <%= markdown (@word.meaning) %>
</p>
  </div>
</div>
</div>

<%= alerts %> 

</div>


</div>
<%if @c.present? %>
<%= paginate @c %>
<% end %>
<br/>
<br/>
<div class = "row">
<div class = "col-md-7">
<h5 style="color:navy">TARGET SETTING FREQUENCY</h5>
<br/>
<%= line_chart current_user.targets.group_by_day(:created_at).count, colors: ["#49f149"] %>
</div>

<div class = "col scroll">

<div class="card md-2">
<div class="vl">
    
      <div class="card-body">
       <h5 class="card-title" style="color:red;"><svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="purple" class="bi bi-bag-check-fill" viewBox="0 2 22 16">
  <path fill-rule="evenodd" d="M5.5 3.5a2.5 2.5 0 0 1 5 0V4h-5v-.5zm6 0V4H15v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4h3.5v-.5a3.5 3.5 0 1 1 7 0zm-.646 5.354a.5.5 0 0 0-.708-.708L7.5 10.793 6.354 9.646a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0l3-3z"/>
</svg>AVAILABLE ESTIMATES</h5>
        <hr>
       <% @estimates.each do |esti| %>
           
           <% @hh = esti.year_id %>
           
               <% @m = multiply esti %>
              <% if ((Year.find(@hh).Saving > @m) && (esti.share.blank?)) %>
          
                        <div class="card" style="width: 20rem;">
                             <div class="card-body">
                                     <h5 class="card-title">ESTIMATE: <%= esti.name %></h5><hr>
                                     <h6 class="card-subtitle mb-2 text-muted"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="navy" class="bi bi-credit-card-2-back" viewBox="0 0 16 16">
  <path d="M11 5.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-1z"/>
  <path d="M2 2a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2H2zm13 2v5H1V4a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1zm-1 9H2a1 1 0 0 1-1-1v-1h14v1a1 1 0 0 1-1 1z"/>
</svg> Budget: <%= @m %> INR</h6>
                                     <hr>
                                     <h6 class="card-subtitle mb-2 text-muted"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="navy" class="bi bi-clipboard-check" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M10.854 7.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 9.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
  <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"/>
  <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"/>
</svg> LINKED TO:<%= Year.find(@hh).name %> </h6>
                                     <hr>
                                       <h6 class="card-subtitle mb-2 text-muted"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="navy" class="bi bi-shield-fill-check" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M8 0c-.69 0-1.843.265-2.928.56-1.11.3-2.229.655-2.887.87a1.54 1.54 0 0 0-1.044 1.262c-.596 4.477.787 7.795 2.465 9.99a11.777 11.777 0 0 0 2.517 2.453c.386.273.744.482 1.048.625.28.132.581.24.829.24s.548-.108.829-.24a7.159 7.159 0 0 0 1.048-.625 11.775 11.775 0 0 0 2.517-2.453c1.678-2.195 3.061-5.513 2.465-9.99a1.541 1.541 0 0 0-1.044-1.263 62.467 62.467 0 0 0-2.887-.87C9.843.266 8.69 0 8 0zm2.146 5.146a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 7.793l2.646-2.647z"/>
</svg> STATUS: <button type="button" class="btn btn-outline-success btn-sm">ACHIEVED</button></h6>
    
                              
                            </div>
                        </div>
                  <br/>

        <% end %>
        

<%end%>
        
    
       <br/>

</div>
       <a href="/itenaries" class="btn btn-primary btn-sm" id = "avail_button">MY ITINERARIES</a>

      </div>

  
</div>
</div>
</div>

    <% trending = Story.maximum('impressions_count') %>

    <% @trendingstory = Story.find_by(:impressions_count => trending) %>
<br/>
<br/>

<h5 style="color:navy">MY STORIES</h5>

<div class="alert alert-success" role="alert" id = "trend">
<b><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-suit-heart-fill" viewBox="0 1 16 18">
  <path d="M4 1c2.21 0 4 1.755 4 3.92C8 2.755 9.79 1 12 1s4 1.755 4 3.92c0 3.263-3.234 4.414-7.608 9.608a.513.513 0 0 1-.784 0C3.234 9.334 0 8.183 0 4.92 0 2.755 1.79 1 4 1z"/>
</svg> TRENDING:</b> <%= @trendingstory.title %> <%= link_to 'Click Here', story_url(@trendingstory) %>
</div>
<br/>
<%= line_chart current_user.stories.group_by_day(:created_at).count, colors: ["#a14171"]  %>
<br/>
<br/>
<h5 style="color:navy">MY EXPENDITURE LIMITS</h5>
<br/>
<%= column_chart current_user.years.group(:name).sum(:limit), colors: ["#08088A", "#8A0829", "FF00FF"] %>
<br/>

</div>
</div>

