  <body>
    <br>
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
    </nav>

    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link active" href="#">
                  <span data-feather="home"></span>
                  
              <%= link_to "PROFILE", accountsettings_path %>
                  
                <hr id ="settings">
              </li>

             <% if logged_in?(:site_admin) %>
              <li class="nav-item">
                <%= link_to "SYSTEM ACCESS", systemaccess_path %>
                <hr id ="settings">
              </li>
              <%else%>
              <li class="nav-item">

                SYSTEM ACCESS
              
                <hr id ="settings">
              </li>
              <%end%>
              <li class="nav-item">
                <%= link_to "CUSTOM", custom_path %>
                <hr id ="settings">
              </li>
              
              <li class="nav-item">
                <%= link_to "SET BUCKET LIST", set_bucket_list_path %>
                <hr id ="settings">
              </li>

                <li class="nav-item">
                <%= link_to "BOOKMARKS", bookmark_path %>
                <hr id ="settings">
              </li>
            </ul>
          </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h1 class="h2" style="color:maroon" >SET YOUR BUCKET LIST</h1>
            <div class="btn-toolbar mb-2 mb-md-0">
              <div class="btn-group mr-2">
               
              </div>
            
            </div>

          </div>

          <div class="container" id = "arrangement">
          <h6><b>*Add city names to the list for more accurate results.</b></h6>



        <%= form_for @u, url: registration_path(@u) do |f| %>
         
         <table>
         <br/>
<br/>
<br/>
<div>
  <%= link_to_add_association 'Add Location', f, :visits, class: 'btn btn-sm btn-outline-success' %>

 
</div>

 <div>
  <br/><b>Password to confirm:</b></td><td> <%= f.password_field :current_password %><br/>
<br/>
</div>
<br/>

<hr>



   </div>
         </div>

      </table>

          <br/>
          <br/>
          <hr id = "settt">
         <div class="actions">
    <%= f.submit "ADD TO MY BUCKET LIST", class: 'btn btn-info btn-sm' %>
  </div>

         <%end%>
          
          
        </main>
      </div>
    </div>

   
   
  </body>

