<!DOCTYPE html>

  <html>  
  <head> 
        
       <title><%= @page_title %></title>
       <%= csrf_meta_tags %>
       <%= csp_meta_tag %>
       <%= stylesheet_link_tag    'welcomes', media: 'all', 'data-turbolinks-track': 'reload' %>
       <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  
  <body>
       <!-- Rails helper - Video Tag. -->
       <%= video_tag( 'prodvid.mp4', id:'background', autoplay: true, loop: true, muted: true) %>

      
       <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center">
       

          <div class="col-md-7 p-lg-5 mx-auto my-5">
            <h1 class="display-3 font-weight-normal" id ="prod_head">MIRROR</h1>
            <br/>
            <h2 id ="prod_sub"><b>SHOWS YOUR REFLECTION</b></h2>
            <br/>
            <!-- Available Options (Login, Guide, Version) -->
            <a class="btn btn-sm btn-outline-secondary" href="/login">LOGIN</a>
        
            <button type="button" class="btn btn-sm btn-outline-secondary" data-toggle="modal" data-target="#exampleModalLong">
              ABOUT
            </button>
                <!-- Modal for Version information/details -->
                <div class="modal" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                <div class="modal-dialog" role="document">
                <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">MIRROR</h5> <!-- Version Information Modal Head -->
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <!-- Version Information Modal Body -->
                <div class="modal-body" id="tech_details">    
                  <b>Version: 2.0</b><br/>
                  <b>Released: 03-June-2021</b>
                </div>
                <!-- Version Information Modal Footer -->
                <div class="modal-footer">    
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
                </div><!-- Version Information Modal Content ends -->
                </div>
                </div> <!-- Version Information Modal Ends -->
                  
                </div>
                </div>
                <br/>
                <%= alerts %> 
                <%= render "shared/footer" %>



 </body>
 </html>

