<%= form_with(model: story, local: true) do |form| %>
  <% if story.errors.any? %>
    <% story.errors.full_messages.each do |error| %>
    <%= alert_generator error %>
    <% end %>
  <% end %>

  <div class="form-group">
   <p><b>NAME:</b></p>
   <%= form.text_field :title, placeholder: 'Story title...', :size => 80, class: 'form-content' %>
  </div>
  


  <div class="form-group">
    <p><b>SELECT TOPIC:</b></p>
   <b><% form.label :topic_id %></b>
   <%= form.collection_select(:topic_id, Topic.all, :id, :category,

                          {
                            selected: @story.topic_id,
                                  
                          },
                          class: "form-group"
                          )%>
  </div>

  <div class="form-group">
    <p><b>ADD DESCRIPTION:</b></p>
    <%= form.text_area :body, placeholder: 'Add content...', rows: 10, cols: 90, class: 'form-content' %>
    
  </div>
  
  <p><b>UPLOAD IMAGES:</b></p>
  <b><h5 style="font-size:10px">(Details: Order-> Supporting image will be displayed at the bottom.)</h5></b>
  <br>
  <div class = "row" >
    <div class = "col-md-2">
  <div class="form-group">
  <label class = 'btn btn-sm btn-outline-warning'>
    MAIN IMAGE<%= form.file_field :Attachment, style: 'display: none;' %>
  </label>

  </div>
</div>
<div class = "col">
  <div class="form-group">
  <label class = 'btn btn-sm btn-outline-warning'>
    SUPPORTING IMAGE<%= form.file_field :Img, style: 'display: none;' %>
  </label>

  </div>
</div>
</div>

<div class="form-group">
 <p><b>ACCESS:</b></p>
 <b><h5 style="font-size:10px">(*To mark story as private, enter "PRIVATE" in Access.)</h5></b>
   <%= form.text_field :access, class: 'form-content' %>

  </div>

  <br/>
  <br/>
  <div class="actions">
     <%= form.submit 'PUBLISH STORY', class: 'btn btn-sm btn-block btn-primary' %>
  </div>
<% end %>
