<%= form_with(model: story, local: true) do |form| %>
  <% if story.errors.any? %>
    <% story.errors.full_messages.each do |error| %>
    <%= alert_generator error %>
    <% end %>
  <% end %>

  <div class="form-group">
  
   <%= form.text_field :title, placeholder: 'Story title...', :size => 70, class: 'form-content' %>
  </div>
  <br/>
  <br/>


  <div class="form-group">
   <%= form.label :topic_id %>
   <%= form.collection_select(:topic_id, Topic.all, :id, :category,

                          {
                            selected: @story.topic_id,
                                  
                          },
                          class: "form-group"
                          )%>
  </div>
  <br/>
  <br/>
  <div class="form-group">
    <%= form.text_area :body, placeholder: 'Add content...', rows: 10, cols: 90, class: 'form-content' %>
    
  </div>
  <hr id = "backg">
  <p><b>Upload Images:</b></p>
  <br>
  <div class = "row" >
    <div class = "col-md-2">
  <div class="form-group">
  <label class = 'btn btn-outline-warning'>
    Upload Image<%= form.file_field :Attachment, style: 'display: none;' %>
  </label>

  </div>
</div>
<div class = "col">
  <div class="form-group">
  <label class = 'btn btn-outline-warning'>
    Supporting Image<%= form.file_field :Img, style: 'display: none;' %>
  </label>

  </div>
</div>
</div>
<hr  id = "backg">
  <br/>
  <br/>
  <div class="actions">
     <%= form.submit 'PUBLISH STORY', class: 'btn btn-primary' %>
  </div>
<% end %>
