
<div class = "container" >
   <%= alerts %> 
    <br/>
    <br/>
    <div class="card" id="story_title_card">
  <div class="card-header" id  = "story_title_section">
    <b>STORY TITLE</b>
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p></strong><%= @story.title %></p>
    </blockquote>
  </div>
</div>
    
    <br/>
    <br/>
    <div class="card" id="story_title_card">
  <div class="card-header" id  = "story_title_section">
    <b>CONTENT</b> 
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p></strong><%= markdown @story.body %></p>
      <% u = @story.user_id%>
      <%  y = User.find(u) %>
      <br/>
      <footer class="blockquote-footer">Written By: <cite title="Source Title"><%= y.name %></cite></footer>
    </blockquote>
  </div>
</div>
    <br/>
    <hr id ="story_hr">
    <p><%= social_share_button_tag(@story.title, :url => "https://www.mirror-self-development-tool.herokuapp.com")%><p>
    <br/>

    <!-- Start of comment form -->
    <%= render 'comments/comment_form' %>
    <!-- End of comment form -->


    <!-- Start of comments -->
    <div id = "comments" data-story-id="<%= @story.id %>">
      <%= render @story.comments %>
    </div>
    <!-- End of comments -->

    <br/>
    <br/>
    <br/>
    <br/>
    <br/>

    <%= link_to 'BACK', stories_path, class: 'btn btn-outline-primary' %>
    <%= link_to 'HOME', home_path, class: 'btn btn-outline-primary' %>
    

 </div>



