 <br/>
<br/>
<center><h2 style="color:blue">LOG IN</h2></center>
<br/>
<br/>
<div class = "container">
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
 <center>
<table>
 
  <tr>
  <div class="field">
   <td><b> <%= f.label :email %></b></td>
   <td> <%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
  </div>
</tr>
<tr>
  <div class="field">
   <td> <b><%= f.label :password %></b></td>
   <td> <%= f.password_field :password, autocomplete: "current-password" %></td>
  </div>
</tr></tr>
<tr>
  <% if devise_mapping.rememberable? %>
<tr>
    <div class="field">
    <td>  <%= f.check_box :remember_me %>
    <%= f.label :remember_me %></td>
    </div>
  </tr>
  <% end %>

</table>
</center>
<br/>
<br/>
<br/>
<center>
  <div class="actions">
    <%= f.submit "LOGIN", class: 'btn btn-primary' %>
    <%= link_to 'CANCEL', root_path, class: 'btn btn-danger' %>
  </div>
</center>
<% end %>

</div>
<br/>
<br/>
<br/>
   <br/>
    <br/>
    <br/>
     <br/>
    <br/>
    <br/>
     <br/>
  

    <!-- Footer partial --> 

    <%= render "shared/footer" %>