<br/>
<br/>
<br/>
	<div class ="container" id="stats_container">
<button type="button" class="btn btn-outline-danger" id="feedback_results">
  TOTAL USERS<span class="badge badge-light"><%= @users.count %></span>
</button>
<button type="button" class="btn btn-outline-danger" id="feedback_results">
  FEEDBACKS RECEIVED <span class="badge badge-light"><%= @feedbacks.count %></span>
</button>
<button type="button" class="btn btn-outline-danger" id="feedback_results">
  AVERAGE SCORE (UI)<span class="badge badge-light"><%= @averageui %></span>
</button>
<button type="button" class="btn btn-outline-danger" id="feedback_results">
  AVERAGE SCORE (USABILITY)<span class="badge badge-light"><%= @averageusability %></span>
</button>
<button type="button" class="btn btn-outline-danger" id="feedback_results">
  AVERAGE SCORE (OVERALL) <span class="badge badge-light"><%= @averageimprovement %></span>
</button>
<br/>
<br/>
<br/>
<div class="alert alert-success" role="alert" id="my_feedback_count">
  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="green" class="bi bi-star-fill" viewBox="0 2 18 16">
  <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
</svg> MY FEEDBACKS TILL DATE: <%= @c.count%>
</div>
<br/>
<br/>
</div>
<br/>
<div class = "container" id ="form_container">
<center>
<h2>FEEDBACK FORM</h2> <h6 id = "version"><b>VERSION 01</b></h6>
<hr>
</center>
<%= render 'form', feedback: @feedback %>
<br/>

</div>
<br/>
<br/>
<br/>
<center>
<%= link_to 'CANCEL', home_path, class: 'btn btn-outline-primary' %>
</center>