<!-- Main container -->
<main role="main" class="container">
      <!-- Main Bar -->

   <br/>
   <br/>
   <br/>
    <%=link_to "ADD KB ARTICLE", new_community_path, class: 'btn btn-outline-info' if logged_in?(:site_admin) %>
    <br/>
    <br/>

    <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded box-shadow">
    
    <div class="lh-100">
      <h6 class="mb-0 text-white lh-100">KNOWLEDGE BASE</h6>
    </div>

  </div>

  <br/>
  <br/>
  <br/>

  <h6 class="border-bottom border-gray pb-2 mb-0">BROWSE ARTICLES</h6>
  <br/>

  <!-- Browse Articles -->
  <div class="my-3 p-3 bg-white rounded box-shadow">
        
            
    <%= render @communities %>

  </div>
  <br/>
  <br/>
  <br/>
  <br/>
  <div class="flickr_pagination">
    <%= will_paginate @communities, :container => false %>
  </div>
<%= alerts %>
  <br/>
  <br/>
  <br/>
  <%= link_to "HOME", root_path, class: 'btn btn-outline-primary' %>
</main>

<!-- End of Main -->
































































































