<br/>
<br/>
<div class = "container" id = "my_expenses_list">


<h3 style="color:navy">MY EXPENSES</h3>
<br/>
<p><%= link_to 'ADD NEW EXPENSE', new_year_path, class: 'btn btn-sm btn-outline-success' %>
 
      <%= link_to 'NEW ESTIMATE', new_estimate_path, class: 'btn btn-sm btn-outline-success' %></p>
<br/>


<table>
 
  <tbody>
    <%if @years.present? %>
    <% @years.each do |year| %>

      <tr style="border-bottom: 1px solid #000;">
        <td id ="year_name" ><b><%= year.name %></b><% if year.estimates.present? %> <svg width="1em" height="1em" viewBox="0 2 18 16" class="bi bi-play-fill" fill="navy" xmlns="http://www.w3.org/2000/svg">
  <path d="M11.596 8.697l-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z"/>
</svg><% end %></td>
        <td><%= link_to 'Show', year, class: 'btn btn-sm btn-outline-secondary' %></td>
        <td><%= link_to 'Edit', edit_year_path(year), class: 'btn btn-sm btn-outline-secondary' %></td>
        <td><%= link_to 'Destroy', year, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-outline-danger' %></td>

      </tr>

       <% end %>
       <%end%>
  </tbody>
    
</table>




 
<br/>
<br/>
<br/>
<br/>
<br/>
<%if @years.present? %>
<%= paginate @years, :container => false %>
<%end%>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>



      
</div>
