<br/>
<br/>

<div class = "container">
	 <%= alerts %>
<h1 style="color:green"><strong>YEAR: </strong><%= @year.name %></h1>
<hr>
<% sav = @year.Saving %>
<% tt = (sav*12) %>
<% avail = (tt - @sum) %>

 
<div class = "row" id ="list_r">

<br/>
	<%if @year.estimates.present? %>

<% @u.each do |d| %>
<% @v = d.tours %>
    <% @m = @v.sum(:namec) %>
<div class="card" style="width: 14rem;" id = "year_card">
  <div class="card-body">
  	<%if avail > @m %> 
    <h5 class="card-title"><%= d.name %> <svg width="1em" height="1em" viewBox="0 1 18 16" class="bi bi-check-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
</svg><br/>
</h5>
    <%else%>
     <h5 class="card-title"><%= d.name %></h5>
    <%end%>
    <hr id = "l_h">
    <p class="card-text"><%= d.description %></p>
    <hr id = "l_h">
    
    <p class="card-text">COST: <%= @m %></p>
    <a href="<%= estimate_path(d) %>" class="btn btn-primary btn-sm" id = "year_estimate_link">DETAILS</a>
    <%if avail > @m  &&  d.share.present? && d.Recommendation.present? %> 
    <a href="<%= othernew_path %>" class="btn btn-primary btn-sm" id = "year_estimate_link">ITENARY</a>
    <% end %>

  </div>
</div>
<%end%>
<%end%>
<br/>


</div>
<br/>


<%= paginate @u %>
<br/>
<br/>

<p><b>EXPENSE LIST FOR THE MONTH OF JANUARY:</b></p>
<br/>
<center>
<table class="table table-hover" id ="target_detailed_info" border="1">
	<thead>
		<td id ="col1"><b>DATE</b></td></b>
		<td id ="col2"><b>EXPENSE NAME</b></td>
		<td id ="col3"><b>EXPENSE REASON</b></td>
		<td id ="col4"><b>TOTAL COST</b></td>
	</thead>
	
	<% @year.januaries.each do |month| %>


	<tbody>
		<td id ="col1"><%= month.occourance %></td>
		<td id ="col2"><%= month.name %></td>
		<td id ="col3"><%= month.reason %></td>
		<td id ="col4"><%= month.cost %></td>
	</tbody>
	<% end %>
</table>
</center>
<br/>
<br/>
<p style="color:red"><b>TOTAL MONHTLY EXPENSE: </b><%= @m %></p>
<br/>
<br/>
<hr>
<!-- JAN END -->

<br/>
<br/>
<p><b>EXPENSE LIST FOR THE MONTH OF FEBRUARY:</b></p>
<br/>
<center>
<table class="table table-hover" id ="target_detailed_info" border="1">
	<thead>
		<td id ="col1"><b>DATE</b></td></b>
		<td id ="col2"><b>EXPENSE NAME</b></td>
		<td id ="col3"><b>EXPENSE REASON</b></td>
		<td id ="col4"><b>TOTAL COST</b></td>
	</thead>
	
	<% @year.februaries.each do |month| %>


	<tbody>
		<td id ="col1"><%= month.occourance %></td>
		<td id ="col2"><%= month.name %></td>
		<td id ="col3"><%= month.reason %></td>
		<td id ="col4"><%= month.cost %></td>
	</tbody>
	<% end %>
</table>
</center>
<br/>
<br/>
<p style="color:red"><b>TOTAL MONHTLY EXPENSE: </b><%= @n %></p>
<br/>
<br/>
<hr>

<!-- FEB END -->
<br/>
<br/>
<p><b>EXPENSE LIST FOR THE MONTH OF MARCH:</b></p>
<br/>
<center>
<table class="table table-hover" id ="target_detailed_info" border="1">
	<thead>
		<td id ="col1"><b>DATE</b></td></b>
		<td id ="col2"><b>EXPENSE NAME</b></td>
		<td id ="col3"><b>EXPENSE REASON</b></td>
		<td id ="col4"><b>TOTAL COST</b></td>
	</thead>
	
	<% @year.marches.each do |month| %>


	<tbody>
		<td id ="col1"><%= month.occourance %></td>
		<td id ="col2"><%= month.name %></td>
		<td id ="col3"><%= month.reason %></td>
		<td id ="col4"><%= month.cost %></td>
	</tbody>
	<% end %>
</table>
</center>
<br/>
<br/>
<p style="color:red"><b>TOTAL MONHTLY EXPENSE: </b><%= @o %></p>
<br/>
<br/>
<hr>

<!-- MAR END -->
<br/>
<br/>
<p><b>EXPENSE LIST FOR THE MONTH OF APRIL:</b></p>
<br/>
<center>
<table class="table table-hover" id ="target_detailed_info" border="1">
	<thead>
		<td id ="col1"><b>DATE</b></td></b>
		<td id ="col2"><b>EXPENSE NAME</b></td>
		<td id ="col3"><b>EXPENSE REASON</b></td>
		<td id ="col4"><b>TOTAL COST</b></td>
	</thead>
	
	<% @year.aprils.each do |month| %>


	<tbody>
		<td id ="col1"><%= month.occourance %></td>
		<td id ="col2"><%= month.name %></td>
		<td id ="col3"><%= month.reason %></td>
		<td id ="col4"><%= month.cost %></td>
	</tbody>
	<% end %>
</table>
</center>
<br/>
<br/>
<p style="color:red"><b>TOTAL MONHTLY EXPENSE: </b><%= @p %></p>
<br/>
<br/>
<hr>

<!-- APR END -->
<br/>
<br/>
<p><b>EXPENSE LIST FOR THE MONTH OF MAY:</b></p>
<br/>
<center>
<table class="table table-hover" id ="target_detailed_info" border="1">
	<thead>
		<td id ="col1"><b>DATE</b></td></b>
		<td id ="col2"><b>EXPENSE NAME</b></td>
		<td id ="col3"><b>EXPENSE REASON</b></td>
		<td id ="col4"><b>TOTAL COST</b></td>
	</thead>
	
	<% @year.mays.each do |month| %>


	<tbody>
		<td id ="col1"><%= month.occourance %></td>
		<td id ="col2"><%= month.name %></td>
		<td id ="col3"><%= month.reason %></td>
		<td id ="col4"><%= month.cost %></td>
	</tbody>
	<% end %>
</table>
</center>
<br/>
<br/>
<p style="color:red"><b>TOTAL MONHTLY EXPENSE: </b><%= @q %></p>
<br/>
<br/>
<hr>

<!-- MAY END -->
<br/>
<br/>
<p><b>EXPENSE LIST FOR THE MONTH OF JUNE:</b></p>
<br/>
<center>
<table class="table table-hover" id ="target_detailed_info" border="1">
	<thead>
		<td id ="col1"><b>DATE</b></td></b>
		<td id ="col2"><b>EXPENSE NAME</b></td>
		<td id ="col3"><b>EXPENSE REASON</b></td>
		<td id ="col4"><b>TOTAL COST</b></td>
	</thead>
	
	<% @year.junes.each do |month| %>


	<tbody>
		<td id ="col1"><%= month.occourance %></td>
		<td id ="col2"><%= month.name %></td>
		<td id ="col3"><%= month.reason %></td>
		<td id ="col4"><%= month.cost %></td>
	</tbody>
	<% end %>
</table>
</center>
<br/>
<br/>
<p style="color:red"><b>TOTAL MONHTLY EXPENSE: </b><%= @r %></p>
<br/>
<br/>
<hr>

<!-- JUNE END -->
<br/>
<br/>
<p><b>EXPENSE LIST FOR THE MONTH OF JULY:</b></p>
<br/>
<center>
<table class="table table-hover" id ="target_detailed_info" border="1">
	<thead>
		<td id ="col1"><b>DATE</b></td></b>
		<td id ="col2"><b>EXPENSE NAME</b></td>
		<td id ="col3"><b>EXPENSE REASON</b></td>
		<td id ="col4"><b>TOTAL COST</b></td>
	</thead>
	
	<% @year.julies.each do |month| %>


	<tbody>
		<td id ="col1"><%= month.occourance %></td>
		<td id ="col2"><%= month.name %></td>
		<td id ="col3"><%= month.reason %></td>
		<td id ="col4"><%= month.cost %></td>
	</tbody>
	<% end %>
</table>
</center>
<br/>
<br/>
<p style="color:red"><b>TOTAL MONHTLY EXPENSE: </b><%= @s %></p>
<br/>
<br/>
<hr>

<!-- JULY END -->
<br/>
<br/>
<p><b>EXPENSE LIST FOR THE MONTH OF AUGUST:</b></p>
<br/>
<center>
<table class="table table-hover" id ="target_detailed_info" border="1">
	<thead>
		<td id ="col1"><b>DATE</b></td></b>
		<td id ="col2"><b>EXPENSE NAME</b></td>
		<td id ="col3"><b>EXPENSE REASON</b></td>
		<td id ="col4"><b>TOTAL COST</b></td>
	</thead>
	
	<% @year.augusts.each do |month| %>


	<tbody>
		<td id ="col1"><%= month.occourance %></td>
		<td id ="col2"><%= month.name %></td>
		<td id ="col3"><%= month.reason %></td>
		<td id ="col4"><%= month.cost %></td>
	</tbody>
	<% end %>
</table>
</center>
<br/>
<br/>
<p style="color:red"><b>TOTAL MONHTLY EXPENSE: </b><%= @t %></p>
<br/>
<br/>
<hr>

<!-- AUGUST END -->
<br/>
<br/>
<p><b>EXPENSE LIST FOR THE MONTH OF SEPTEMBER:</b></p>
<br/>
<center>
<table class="table table-hover" id ="target_detailed_info" border="1">
	<thead>
		<td id ="col1"><b>DATE</b></td></b>
		<td id ="col2"><b>EXPENSE NAME</b></td>
		<td id ="col3"><b>EXPENSE REASON</b></td>
		<td id ="col4"><b>TOTAL COST</b></td>
	</thead>
	
	<% @year.septembers.each do |month| %>


	<tbody>
		<td id ="col1"><%= month.occourance %></td>
		<td id ="col2"><%= month.name %></td>
		<td id ="col3"><%= month.reason %></td>
		<td id ="col4"><%= month.cost %></td>
	</tbody>
	<% end %>
</table>
</center>
<br/>
<br/>
<p style="color:red"><b>TOTAL MONHTLY EXPENSE: </b><%= @uuu %></p>
<br/>
<br/>
<hr>

<!-- SEPTEMBER END -->
<br/>
<br/>
<p><b>EXPENSE LIST FOR THE MONTH OF OCTOBER:</b></p>
<br/>
<center>
<table class="table table-hover" id ="target_detailed_info" border="1">
	<thead>
		<td id ="col1"><b>DATE</b></td></b>
		<td id ="col2"><b>EXPENSE NAME</b></td>
		<td id ="col3"><b>EXPENSE REASON</b></td>
		<td id ="col4"><b>TOTAL COST</b></td>
	</thead>
	
	<% @year.octobers.each do |month| %>


	<tbody>
		<td id ="col1"><%= month.occourance %></td>
		<td id ="col2"><%= month.name %></td>
		<td id ="col3"><%= month.reason %></td>
		<td id ="col4"><%= month.cost %></td>
	</tbody>
	<% end %>
</table>
</center>
<br/>
<br/>
<p style="color:red"><b>TOTAL MONHTLY EXPENSE: </b><%= @vvv %></p>
<br/>
<br/>
<hr>

<!-- OCTOBER END -->
<br/>
<br/>
<p><b>EXPENSE LIST FOR THE MONTH OF NOVEMBER:</b></p>
<br/>
<center>
<table class="table table-hover" id ="target_detailed_info" border="1">
	<thead>
		<td id ="col1"><b>DATE</b></td></b>
		<td id ="col2"><b>EXPENSE NAME</b></td>
		<td id ="col3"><b>EXPENSE REASON</b></td>
		<td id ="col4"><b>TOTAL COST</b></td>
	</thead>
	
	<% @year.novembers.each do |month| %>


	<tbody>
		<td id ="col1"><%= month.occourance %></td>
		<td id ="col2"><%= month.name %></td>
		<td id ="col3"><%= month.reason %></td>
		<td id ="col4"><%= month.cost %></td>
	</tbody>
	<% end %>
</table>
</center>
<br/>
<br/>
<p style="color:red"><b>TOTAL MONHTLY EXPENSE: </b><%= @w %></p>
<br/>
<br/>
<hr>

<!-- NOVEMBER END -->
<br/>
<br/>
<p><b>EXPENSE LIST FOR THE MONTH OF DECEMBER:</b></p>
<br/>
<center>
<table class="table table-hover" id ="target_detailed_info" border="1">
	<thead>
		<td id ="col1"><b>DATE</b></td></b>
		<td id ="col2"><b>EXPENSE NAME</b></td>
		<td id ="col3"><b>EXPENSE REASON</b></td>
		<td id ="col4"><b>TOTAL COST</b></td>
	</thead>
	
	<% @year.decembers.each do |month| %>


	<tbody>
		<td id ="col1"><%= month.occourance %></td>
		<td id ="col2"><%= month.name %></td>
		<td id ="col3"><%= month.reason %></td>
		<td id ="col4"><%= month.cost %></td>
	</tbody>
	<% end %>
</table>
</center>
<br/>
<br/>
<p style="color:red"><b>TOTAL MONHTLY EXPENSE: </b><%= @x %></p>
<br/>
<br/>
<hr>
<!-- DEC END -->
<br/>
<div class="card" id="total_card">
 
   <h5>TOTAL EXPENSES AS ON <%= Time.now.strftime("%m/%d/%Y") %>:<%= @sum %></h5>

</div>
<br/>
<br/>
<hr>
<% if @sum < @year.limit %>
<div class="card" id="total_card_cons">
 
   <h5>CONGRATULATIONS !!! YOU ARE ON TRACK</h5>

</div>
<% else %>
<div class="card" id="total_card_conf">
 
   <h5>YOU ARE OFF TRACK, PLEASE DECREASE YOUR EXPENSES</h5>

</div>

<% end %>
<br/>
<br/>
<br/>

<%= link_to 'BACK', years_path, class: 'btn btn-outline-primary' %>
<%= link_to 'EDIT', edit_year_path(@year), class: 'btn btn-outline-primary' %> 
<%= link_to 'HOME', home_path, class: 'btn btn-outline-primary' %>

</div>



  
    
