<!--HTML Layout file for the Target controller -->


<!DOCTYPE html>

<html>  
  
    <head> 
        
    <title><%= @page_title %></title> <!--Dynamic title. @page_title is an instance variable whose value changes as per the controller layout -->

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag 'favicons/favicon.ico' %>
    <%= stylesheet_link_tag    'docipedias', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
      
    </head>

  
    <body>
   
    <!-- Application heading partial -->
     
    <%= render "shared/application_heading" %>
    
    <!-- Navbar partial -->   
    
    <%= render "shared/nav", color: 'bg-light'%>
    <div class="alert alert-warning" role="alert" id="alert_stories">
       MIRROR STORIES TO GO LIVE ON 1-OCTOBER-2020.
        </div>



    <%= yield %>
  
    
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>

    <!-- Footer partial --> 

    <%= render "shared/footer" %>

    </body>
</html>
<!-- End of the Story controller layout -->

