<!DOCTYPE html>

<html>  
  
  <head> 
        
    <title>MIRROR</title> 

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag 'favicons/favicon.ico' %>
    <%= stylesheet_link_tag    'myhomefour', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
      
  </head>


  
  <body>
  
   
   <%= render "shared/application_heading_four" %>
    
    <!-- Navbar partial -->   
    
    <%= render "shared/nav", color: 'bg-light'%>
        

    <%= yield %>

    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <%= render "shared/footer_four" %>
   
  
  
    
  </body>
</html>













































